h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    color: aliceblue;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    word-spacing: 4px;
    color: aliceblue;
}
body{
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}
ul{
    font-size: 30;
    font-weight: 200;
}
.navbar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    color: aliceblue;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
        width: 100%;
}
.Main{
    display: flex;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: justify;
    vertical-align:middle;
}
.MainHeading{
    display: flex;
}
table,th,td{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 80%;
    text-align: center;
    color: aliceblue;
    border-color: aliceblue;
    
}
img{
    padding: 10px;
    transition: transform .2s;
    margin: 0 auto;
}
img:hover{
    transform: scale(1.5);
}
.turtle1Content{
    display: flex;
}
.turtle1Content p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: aliceblue;
}
.map1{
    margin-left: auto;
    margin-right:auto;
    width: 100%;
}
.turtle2Content{
    display: flex;
}
.turtle2Content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    color: aliceblue;
}
.turtle3Content{
    display: flex;
}
.turtle3Content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: aliceblue;
}
.turtle1{
    border: 2px solid aliceblue;
}
.turtle2{
    border: 2px solid aliceblue;
}
.turtle3{
    border: 2px solid aliceblue;
}
.turtle1 h1{
    text-decoration: underline;
}
.turtle2 h1{
    text-decoration: underline;
}
.turtle3 h1{
    text-decoration: underline;
}