h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    word-spacing: 4px;
}
body{
    background-color: bisque;
    margin-left: 10%;
    margin-right: 10%;
}
ul{
    font-size: 30;
    font-weight: 200;
}
.navbar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: bisque;
    position: sticky;
    top: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
        width: 100%;
}
.Main{
    display: flex;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: justify;
    vertical-align:middle;
}
.MainHeading{
    display: flex;
}
img{
    padding: 10px;
    transition: transform .2s;
    margin: 0 auto;
}
img:hover{
    transform: scale(1.5);
}
.problem{
    color: red;
}
.solution{
    color: green;
}
.problem3{
    color: red;
    font-size: 20px;
}
.solution3{
    color: green;
    font-size: 20px;
}
.img1{
    padding-right: 10px;
}
.img2{
    padding-left: 10px;
}
.img3{
    padding-right: 10px;
}
.flex{
    display: flex;
}
.otherFlex{
    display: flex;
}
.otherFlex img{
    border-radius: 50px;
}
.hatch1 img{
    padding-left: 10px;
}
.otherFlex a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: black;
    padding-left: 40%;
}
.otherFlex img:hover{
    transform: none;
}